@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

html, body, .mainfont, :not(.other-font), :not(.monospace) {
    font-family: Inter, Tahoma, Verdana, sans-serif;
    font-feature-settings: 'ss03', 'cv01', 'cv05', 'cv10', 'calt' on;
}

@supports (font-variation-settings: normal) {
    html, body, .mainfont, :not(.other-font), :not(.monospace) {
        font-family: 'Inter var', Tahoma, Verdana, sans-serif;
    }
}

.disable-calt {
    font-feature-settings: 'calt' off !important;
}

.other-font {
    font-feature-settings: unset !important;
}

.monospace {
    font-family: 'Fira Code', Inconsolata, Consolas, monospace;
    font-feature-settings: unset !important;
}


a {
    font-weight: 600;
}

a:link {
    color: rgb(0,127,255);
}

a:hover {
    color: rgb(0,95,191);
}

a:visited, a:active {
    color: rgb(0,63,159);
}


* {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p, input, textarea {
    cursor: auto;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a {
    cursor: pointer;
}