html, body, input, button {
    font-family: "Barlow Semi Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;

    background-color: #081828;
    color: #d0d0d0;
}

input[type="text"] {
    background-color: #e8e8e8;
    color: #081828;
}

.paintScale {
    width: 35rem;
}

.popScale {
    width: 20rem;
}

button {
    background-color: #d0d0d0;
    color: #081828;
    font-weight: 700;
    font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bold {
    font-weight: 500;
}

.semibold {
    font-weight: 500;
}

.big {
    font-size: 1.5rem;
}

.warning {
    font-weight: 500;
    color: #ff0;
}

#dateInput {
    width: 80%;
}

#chart {
    display: inline-block;
    text-decoration: underline;
}